
.filter-container {
  text-align: center;
  padding-bottom: 20px;
}


.countries-container {
    display: flex;
    text-align: center;
  
  }
.card {
    min-width: 260px;
    margin: 0 auto;
    background: rgb(17, 17, 17);
    color: rgb(245, 245, 245);
    border-radius: 20px;
    padding: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img{
    border-radius: 20px;
    object-fit: cover;
    width: 260px;
}