body{
  background-color: rgb(80, 80, 80);
}
.filter-container {
  text-align: center;
  padding-bottom: 20px;
  position: relative;
}


.countries-container {
    display: flex;
    text-align: center;
  
  }
.card {
    min-width: 260px;
    margin: 0 auto;
    background: rgb(17, 17, 17);
    color: rgb(245, 245, 245);
    border-radius: 20px;
    padding: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img{
    border-radius: 20px;
    object-fit: cover;
    width: 260px;
}

#pass{
  position: absolute;
  padding: 40px;
  border-radius: 150px;
  height: 110px;
  background-color: red;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  z-index: 1;
  left: 40%;
  bottom: -300%;
}

#pass:hover{
  transform: scale(1.2);
}

#smash{
  position: absolute;
  padding: 40px;
  border-radius: 200px;
  height: 110px;
  background-color: rgb(134, 255, 21);
  color: white;
  cursor: pointer;
  transition: 0.2s;
  right: 40%;
  bottom: -300%;
}
#smash:hover{
  transform: scale(1.2);
}